# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:10.13.0
clone:
  depth: full

pipelines:
  default:
    - step:
        caches:
          - node
        script: # Modify the commands below to build your repository.
          - npm install
          - npm run build
          - git push -f https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git HEAD:master
#          - npm run build
#        artifacts:
#          - dist/**
#    - step:
#        name: 'Create zip'
#        script:
#          - tar czfv application.tgz dist package.json
#        artifacts:
#          - application.tgz
#    - step:
#        name: Deploy
#        deployment: production
#        script:
#          - pipe: atlassian/heroku-deploy:1.1.3
#            variables:
#              HEROKU_API_KEY: $HEROKU_API_KEY
#              HEROKU_APP_NAME: $HEROKU_APP_NAME
#              ZIP_FILE: "application.tgz"
